include ./bem

mixin a
  +bem&attributes(attributes)(tag="a"): block

mixin abbr
  +bem&attributes(attributes)(tag="abbr"): block

mixin address
  +bem&attributes(attributes)(tag="address"): block

mixin area
  +bem&attributes(attributes)(tag="area"): block

mixin article
  +bem&attributes(attributes)(tag="article"): block

mixin aside
  +bem&attributes(attributes)(tag="aside"): block

mixin audio
  +bem&attributes(attributes)(tag="audio"): block

mixin b
  +bem&attributes(attributes)(tag="b"): block

mixin base
  +bem&attributes(attributes)(tag="base"): block

mixin bdi
  +bem&attributes(attributes)(tag="bdi"): block

mixin bdo
  +bem&attributes(attributes)(tag="bdo"): block

mixin bgsound
  +bem&attributes(attributes)(tag="bgsound"): block

mixin blockquote
  +bem&attributes(attributes)(tag="blockquote"): block

mixin body
  +bem&attributes(attributes)(tag="body"): block

mixin br
  +bem&attributes(attributes)(tag="br"): block

mixin button
  +bem&attributes(attributes)(tag="button"): block

mixin canvas
  +bem&attributes(attributes)(tag="canvas"): block

mixin caption
  +bem&attributes(attributes)(tag="caption"): block

mixin cite
  +bem&attributes(attributes)(tag="cite"): block

mixin code
  +bem&attributes(attributes)(tag="code"): block

mixin col
  +bem&attributes(attributes)(tag="col"): block

mixin colgroup
  +bem&attributes(attributes)(tag="colgroup"): block

mixin command
  +bem&attributes(attributes)(tag="command"): block

mixin content
  +bem&attributes(attributes)(tag="content"): block

mixin data
  +bem&attributes(attributes)(tag="data"): block

mixin datalist
  +bem&attributes(attributes)(tag="datalist"): block

mixin dd
  +bem&attributes(attributes)(tag="dd"): block

mixin del
  +bem&attributes(attributes)(tag="del"): block

mixin details
  +bem&attributes(attributes)(tag="details"): block

mixin dfn
  +bem&attributes(attributes)(tag="dfn"): block

mixin div
  +bem&attributes(attributes)(tag="div"): block

mixin dl
  +bem&attributes(attributes)(tag="dl"): block

mixin dt
  +bem&attributes(attributes)(tag="dt"): block

mixin element
  +bem&attributes(attributes)(tag="element"): block

mixin em
  +bem&attributes(attributes)(tag="em"): block

mixin embed
  +bem&attributes(attributes)(tag="embed"): block

mixin fieldset
  +bem&attributes(attributes)(tag="fieldset"): block

mixin figcaption
  +bem&attributes(attributes)(tag="figcaption"): block

mixin figure
  +bem&attributes(attributes)(tag="figure"): block

mixin font
  +bem&attributes(attributes)(tag="font"): block

mixin footer
  +bem&attributes(attributes)(tag="footer"): block

mixin form
  +bem&attributes(attributes)(tag="form"): block

mixin h1
  +bem&attributes(attributes)(tag="h1"): block

mixin h2
  +bem&attributes(attributes)(tag="h2"): block

mixin h3
  +bem&attributes(attributes)(tag="h3"): block

mixin h4
  +bem&attributes(attributes)(tag="h4"): block

mixin h5
  +bem&attributes(attributes)(tag="h5"): block

mixin h6
  +bem&attributes(attributes)(tag="h6"): block

mixin head
  +bem&attributes(attributes)(tag="head"): block

mixin header
  +bem&attributes(attributes)(tag="header"): block

mixin hgroup
  +bem&attributes(attributes)(tag="hgroup"): block

mixin hr
  +bem&attributes(attributes)(tag="hr"): block

mixin html
  +bem&attributes(attributes)(tag="html"): block

mixin i
  +bem&attributes(attributes)(tag="i"): block

mixin iframe
  +bem&attributes(attributes)(tag="iframe"): block

mixin img
  +bem&attributes(attributes)(tag="img"): block

mixin input
  +bem&attributes(attributes)(tag="input"): block

mixin ins
  +bem&attributes(attributes)(tag="ins"): block

mixin kbd
  +bem&attributes(attributes)(tag="kbd"): block

mixin keygen
  +bem&attributes(attributes)(tag="keygen"): block

mixin label
  +bem&attributes(attributes)(tag="label"): block

mixin legend
  +bem&attributes(attributes)(tag="legend"): block

mixin li
  +bem&attributes(attributes)(tag="li"): block

mixin link
  +bem&attributes(attributes)(tag="link"): block

mixin main
  +bem&attributes(attributes)(tag="main"): block

mixin map
  +bem&attributes(attributes)(tag="map"): block

mixin mark
  +bem&attributes(attributes)(tag="mark"): block

mixin menu
  +bem&attributes(attributes)(tag="menu"): block

mixin menuitem
  +bem&attributes(attributes)(tag="menuitem"): block

mixin meta
  +bem&attributes(attributes)(tag="meta"): block

mixin meter
  +bem&attributes(attributes)(tag="meter"): block

mixin nav
  +bem&attributes(attributes)(tag="nav"): block

mixin nobr
  +bem&attributes(attributes)(tag="nobr"): block

mixin noframes
  +bem&attributes(attributes)(tag="noframes"): block

mixin noscript
  +bem&attributes(attributes)(tag="noscript"): block

mixin object
  +bem&attributes(attributes)(tag="object"): block

mixin ol
  +bem&attributes(attributes)(tag="ol"): block

mixin optgroup
  +bem&attributes(attributes)(tag="optgroup"): block

mixin option
  +bem&attributes(attributes)(tag="option"): block

mixin output
  +bem&attributes(attributes)(tag="output"): block

mixin p
  +bem&attributes(attributes)(tag="p"): block

mixin param
  +bem&attributes(attributes)(tag="param"): block

mixin picture
  +bem&attributes(attributes)(tag="picture"): block

mixin pre
  +bem&attributes(attributes)(tag="pre"): block

mixin progress
  +bem&attributes(attributes)(tag="progress"): block

mixin q
  +bem&attributes(attributes)(tag="q"): block

mixin rp
  +bem&attributes(attributes)(tag="rp"): block

mixin rt
  +bem&attributes(attributes)(tag="rt"): block

mixin rtc
  +bem&attributes(attributes)(tag="rtc"): block

mixin ruby
  +bem&attributes(attributes)(tag="ruby"): block

mixin s
  +bem&attributes(attributes)(tag="s"): block

mixin samp
  +bem&attributes(attributes)(tag="samp"): block

mixin script
  +bem&attributes(attributes)(tag="script"): block

mixin section
  +bem&attributes(attributes)(tag="section"): block

mixin select
  +bem&attributes(attributes)(tag="select"): block

mixin shadow
  +bem&attributes(attributes)(tag="shadow"): block

mixin small
  +bem&attributes(attributes)(tag="small"): block

mixin source
  +bem&attributes(attributes)(tag="source"): block

mixin span
  +bem&attributes(attributes)(tag="span"): block

mixin strong
  +bem&attributes(attributes)(tag="strong"): block

mixin style
  +bem&attributes(attributes)(tag="style"): block

mixin sub
  +bem&attributes(attributes)(tag="sub"): block

mixin summary
  +bem&attributes(attributes)(tag="summary"): block

mixin sup
  +bem&attributes(attributes)(tag="sup"): block

mixin table
  +bem&attributes(attributes)(tag="table"): block

mixin tbody
  +bem&attributes(attributes)(tag="tbody"): block

mixin td
  +bem&attributes(attributes)(tag="td"): block

mixin template
  +bem&attributes(attributes)(tag="template"): block

mixin textarea
  +bem&attributes(attributes)(tag="textarea"): block

mixin tfoot
  +bem&attributes(attributes)(tag="tfoot"): block

mixin th
  +bem&attributes(attributes)(tag="th"): block

mixin thead
  +bem&attributes(attributes)(tag="thead"): block

mixin time
  +bem&attributes(attributes)(tag="time"): block

mixin title
  +bem&attributes(attributes)(tag="title"): block

mixin tr
  +bem&attributes(attributes)(tag="tr"): block

mixin track
  +bem&attributes(attributes)(tag="track"): block

mixin u
  +bem&attributes(attributes)(tag="u"): block

mixin ul
  +bem&attributes(attributes)(tag="ul"): block

mixin var
  +bem&attributes(attributes)(tag="var"): block

mixin video
  +bem&attributes(attributes)(tag="video"): block

mixin wbr
  +bem&attributes(attributes)(tag="wbr"): block
